# Flutter/Dart
.dart_tool/
.flutter-plugins*
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/key.properties
android/app/src/main/res/values/strings_generated.xml
*.keystore
*.jks

# Logs
*.log
analyze_output*.txt
